### Maven / Java / Reports ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.allure
allure-results/
log.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# macOS
.DS_Store

# AWS Local
dynamodb-local-metadata.json

# ARQUIVOS DE CONFIGURAÇÃO QUE NÃO DEVEM SER ENVIADOS PARA O REPOSITÓRIO
